span {
    margin-left: 0.2em;
}

.item {
    color: green;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    max-width: 500px;
    width: 100%;
}

.avatar {
    display: flex;
    align-items: flex-start;
}

.avatarRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 0.4em;
}

.avatarRight span {
    margin-top: 1.3em;
}

.avatarImg {
    max-width: 70px;
    border-radius: 50%;
}

.avatarName {}

.postImg {
    max-width: 500px;
    margin-top: 0.4em;
}

.postNav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
}

.like {
    margin-left: 30px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

.look {
    margin-left: 30px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

.postNav_delete {
    max-width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}