* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.header {
    grid-area: h;
    background-color: #FFEBCD;
    display: flex;
    box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.2);
}

.header h1 {
    line-height: 24px;
    margin-left: 0.2em;
    max-width: 150px;
    width: 100%;
}

.headerLinks {
    margin-left: 20em;
    z-index: 3;
    display: flex;
    color: white;
    line-height: 34px;
    max-width: 44.9em;
    width: 100%;
    color: #000;
}

.headerLinks li {
    display: none;
}

.headerLinks ul:hover li:hover {
    background-color: #fff;
}

.headerLinks ul:hover {
    cursor: pointer;
}

.headerLinks ul:hover div {
    border-top: 3px solid #000;
    box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.headerLinks ul:hover li {
    display: block;
    flex-direction: column;
    background-color: #FFF8DC;
    padding: 0 10px;
    font-weight: bold;
}

.headerLinks ul {
    max-width: 260px;
    width: 100%;
    position: relative;
}

.headerLinks ul:after {
    content: "";
    width: 0;
    height: 0;
    top: 53%;
    left: 80%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute;
}

.home,
.settings,
.more {}

.header img {
    width: 70px;
}

.nav {
    grid-area: n;
    background-color: darkcyan;
}

.content {
    grid-area: c;
    background-color: palevioletred;
}

.content img {
    max-height: 400px;
}