* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.app-wrapper-content {
    grid-area: c;
    background-color: palevioletred;
}