.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialogCard {
    max-width: 200px;
    background-color: transparent;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.dialogCard:nth-child(even) {
    display: flex;
    align-items: flex-end;
}

.dialogCard:nth-child(odd) {
    display: flex;
    align-items: flex-start;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper:nth-child(even) {
    display: flex;
    align-items: flex-end;
}