.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {}

.messages {
    max-width: 250px;
    background-color: #F7F8FA;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.head {
    height: 2em;
    background-color: #088dcd;
    margin-bottom: 1em;
    box-shadow: 1px 7px 3px -3px rgba(34, 60, 80, 0.2);
    width: 100%;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
}
.textArea {
    outline: none;
    height: 4em;
    width: 100%;
    resize: none;
}

.btn {
    background-color: transparent;
    border: transparent;
    outline: none;
    max-width: 80px;
    box-sizing: border-box;
    margin: 0.1em 0 0.1em 0;
    padding: 10px;
    cursor: pointer;
}
.btn img {
    width: 16px;
}